flows v1.json
[{"id":"c0180f15b9df30b0","type":"inject","z":"ad5aeb1cf582a298","name":"Start reading sensor","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"2","topic":"","x":260,"y":200,"wires":[["c93229ca6b064faa"]]},{"id":"c93229ca6b064faa","type":"api-current-state","z":"ad5aeb1cf582a298","name":"capteur a modifier","server":"homeassistant_server","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.shellypro3em_ac15187b2798_phase_c_apparent_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":500,"y":200,"wires":[["0716de015a64f216"]]},{"id":"0716de015a64f216","type":"function","z":"ad5aeb1cf582a298","name":"donnée fake_id a modifier","func":"let val = msg.payload;\nnode.warn('Valeur capteur brute : ' + val);\nif(val === undefined) {\n    node.error('Valeur capteur indéfinie');\n    return null;\n}\n\nlet fake_id = \"shellypro3em-ac15187b0123\"; // a modifierles 4 dernier chiffer sauf  2798,2799,2800\n\nlet msg_out = {\n    topic: `${fake_id}/events/rpc`,\n    payload: {\n        src: fake_id,\n        dst: `${fake_id}/events/rpc`,\n        method: \"NotifyStatus\",\n        params: {\n            ts: Date.now() / 1000,\n            \"em:0\": {\n                a_act_power: 0,\n                b_act_power: 0,\n                c_act_power: val,\n                a_aprt_power: 0,\n                b_aprt_power: 0,\n                c_aprt_power: 0,\n                a_current: 0,\n                b_current: 0,\n                c_current: 0,\n                a_voltage: 0,\n                b_voltage: 0,\n                c_voltage: 0,\n                a_freq: 0,\n                b_freq: 0,\n                c_freq: 0,\n                a_pf: 0,\n                b_pf: 0,\n                c_pf: 0,\n                n_current: null,\n                total_act_power: val,\n                total_aprt_power: 0,\n                total_current: 0\n            }\n        }\n    }\n};\nreturn msg_out;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":200,"wires":[["669bd918739d7450"]]},{"id":"669bd918739d7450","type":"mqtt out","z":"ad5aeb1cf582a298","name":"Vers sonicpo.com","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7c64e09b8a9d9e9e","x":1010,"y":200,"wires":[]},{"id":"inject_online","type":"inject","z":"ad5aeb1cf582a298","name":"Online every 30s","props":[],"repeat":"30","crontab":"","once":true,"onceDelay":"2","x":310,"y":340,"wires":[["function_online"]]},{"id":"function_online","type":"function","z":"ad5aeb1cf582a298","name":"Prepare online msg","func":"return {\n    topic: \"shellypro3em-ac15187b/online\",\n    payload: \"true\",\n    retain: true\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":340,"wires":[["mqtt_out_online"]]},{"id":"mqtt_out_online","type":"mqtt out","z":"ad5aeb1cf582a298","name":"MQTT Online","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7c64e09b8a9d9e9e","x":810,"y":340,"wires":[]},{"id":"homeassistant_server","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"7c64e09b8a9d9e9e","type":"mqtt-broker","name":"Sonicpo MQTT","broker":"sonicpo.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]