flows v1.json
[{"id":"ecf6134c04f2c4b8","type":"inject","z":"ad5aeb1cf582a298","name":"actualise toutes les 5 s","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"2","topic":"","x":210,"y":260,"wires":[["6056fbf2357af2f8"]]},{"id":"6056fbf2357af2f8","type":"api-current-state","z":"ad5aeb1cf582a298","name":"capteur a modifier","server":"homeassistant_server","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.votre-capteur","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":440,"y":260,"wires":[["6eaf0bb4e92416d0"]]},{"id":"6eaf0bb4e92416d0","type":"function","z":"ad5aeb1cf582a298","name":"donnée fake_id a modifier","func":"let val = msg.payload;\nnode.warn('Valeur capteur brute : ' + val);\nif(val === undefined) {\n    node.error('Valeur capteur indéfinie');\n    return null;\n}\n\nlet fake_id = \"test1234\"; // a modifier\n\nlet msg_out = {\n    topic: `${fake_id}/events/rpc`,\n    payload: {\n        src: fake_id,\n        dst: `${fake_id}/events/rpc`,\n        method: \"NotifyStatus\",\n        params: {\n            ts: Date.now() / 1000,\n            \"em:0\": {\n                a_act_power: 0,\n                b_act_power: 0,\n                c_act_power: val,\n                a_aprt_power: 0,\n                b_aprt_power: 0,\n                c_aprt_power: 0,\n                a_current: 0,\n                b_current: 0,\n                c_current: 0,\n                a_voltage: 0,\n                b_voltage: 0,\n                c_voltage: 0,\n                a_freq: 0,\n                b_freq: 0,\n                c_freq: 0,\n                a_pf: 0,\n                b_pf: 0,\n                c_pf: 0,\n                n_current: null,\n                total_act_power: val,\n                total_aprt_power: 0,\n                total_current: 0\n            }\n        }\n    }\n};\nreturn msg_out;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":260,"wires":[["ec54da92a2c00d43"]]},{"id":"ec54da92a2c00d43","type":"mqtt out","z":"ad5aeb1cf582a298","name":"Vers sonicpo.com","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7c64e09b8a9d9e9e","x":950,"y":260,"wires":[]},{"id":"9a6683561ce0afa5","type":"inject","z":"ad5aeb1cf582a298","name":"Online every 30s","props":[],"repeat":"30","crontab":"","once":true,"onceDelay":"2","x":250,"y":400,"wires":[["bf7aec22743dc3aa"]]},{"id":"bf7aec22743dc3aa","type":"function","z":"ad5aeb1cf582a298","name":"Prepare online msg","func":"return {\n    topic: \"test1234/online\", // a modifié\n    payload: \"true\",\n    retain: true\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":400,"wires":[["d56637c11d251b64"]]},{"id":"d56637c11d251b64","type":"mqtt out","z":"ad5aeb1cf582a298","name":"MQTT Online","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7c64e09b8a9d9e9e","x":750,"y":400,"wires":[]},{"id":"homeassistant_server","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"7c64e09b8a9d9e9e","type":"mqtt-broker","name":"Sonicpo MQTT","broker":"sonicpo.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]